<a href="https://colab.research.google.com/github/Nipalang/Assignment/blob/main/Nipalang_Luka_python_Ass_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#List
import random
# Generate two lists with random integers using import random
list1 = random.sample(range(1, 20), 8)  # 8 random numbers between 1–20
list2 = random.sample(range(10, 30), 8)  # 8 random numbers between 10–30

print("List 1:", list1)
print("List 2:", list2)
# Merge and remove duplicates
merged_list = list(set(list1 + list2))

print("Merged list without duplicates:", merged_list)

List 1: [5, 18, 1, 15, 17, 9, 16, 13]
List 2: [27, 20, 11, 13, 17, 28, 10, 22]
Merged list without duplicates: [1, 5, 9, 10, 11, 13, 15, 16, 17, 18, 20, 22, 27, 28]

In [4]:
#question1 method 2
#generate two lists with random intergers without using import random

#define two lists of intergers

list1 = [1,2,3,4,5,6,7,8]
list2 =[1,3,4,5,6,9,10]

#merging list1 and list2

merged_List = list1+list2
print(list(set(merged_List)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#question 2
# Create a new list containing only even numbers
even_numbers = [num for num in merged_List if num % 2 == 0]

print("Even numbers from merged list:", even_numbers)

Even numbers from merged list: [2, 4, 6, 8, 4, 6, 10]

In [9]:
#calculating sum and average
#sum
sum_even_numbers = sum(even_numbers)
print("sum:",sum_even_numbers)

#Average
numbers = even_numbers

average = sum(even_numbers) / len(even_numbers)

print("Average:", average)

sum: 40
Average: 5.714285714285714

In [11]:
#sorting list in descending order

merged_List.sort(reverse=True)
print("List sorted in descending order:", merged_List)

#reversing it back
merged_List.reverse()
print("List after reversing:", merged_List)

List sorted in descending order: [10, 9, 8, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 1, 1]
List after reversing: [1, 1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 9, 10]

In [17]:
#Tuples

#Create a new tuple that contains the squares of all numbers in the original tuple.
my_tuple = (1,2,3,4,5,6,7,8,9)
my_squared_tuple = tuple(num ** 2 for num in my_tuple)
print(my_tuple)
print(my_squared_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [18]:
#Write a function that checks if a specific element exists in the tuple. Return the index if it does.

def find_in_tuple(my_tuple, element):
    if element in my_tuple:
        return my_tuple.index(element)
    else:
        return "Element not found"
numbers = (10, 20, 30, 40, 50)
print(find_in_tuple(numbers, 30))   # Output: 2
print(find_in_tuple(numbers, 100))  # Output: Element not found

2
Element not found

In [19]:
#Create a program that concatenates multiple tuples into one and removes duplicates.

# Define multiple tuples
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
tuple3 = (6, 7, 8, 9)

# Concatenate all tuples
combined_tuple = tuple1 + tuple2 + tuple3
print("Combined tuple:", combined_tuple)

# Remove duplicates by converting to a set, then back to a tuple
unique_tuple = tuple(set(combined_tuple))
print("Tuple without duplicates:", unique_tuple)

Combined tuple: (1, 2, 3, 4, 3, 4, 5, 6, 6, 7, 8, 9)
Tuple without duplicates: (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
#Dictionaries
#creating a dictionary
students = {"Nipalang": 98, "Kisel": 89, "Job":76, "Moses":56, "Godsave":88}
#average score
average_score = sum(students.values()) / len(students)

print("Average score:", average_score)

Average score: 81.4

In [24]:
# Find highest and lowest scores
highest_score = max(students.values())
lowest_score = min(students.values())

#find out who they are

top_students = [name for name, score in students.items() if score == highest_score]
bottom_students = [name for name, score in students.items() if score == lowest_score]

#print result
print("highest score:",highest_score)
print("lowest score:",lowest_score)
print("Lowest scoring student(s):", ", ".join(bottom_students))
print("highest scoring student(s):", ", ".join(top_students))

highest score: 98
lowest score: 56
Lowest scoring student(s): Moses
highest scoring student(s): Nipalang

In [25]:


# Ask user for student info
name = input("Enter student's name: ")
score = int(input("Enter student's score: "))

# Check if student already exists
if name in students:
    print(f"{name} already exists. Updating score...")
else:
    print(f"Adding new student {name}...")

# Add or update score
students[name] = score

# Display updated dictionary
print("\nUpdated list of students and scores:")
for student, score in students.items():
    print(f"{student}: {score}")

Enter student's name: Jennifer
Enter student's score: 67
Adding new student Jennifer...

Updated list of students and scores:
Nipalang: 98
Kisel: 89
Job: 76
Moses: 56
Godsave: 88
Jennifer: 67

In [28]:
#SETS
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union (all unique elements from both sets)
union_set = set1.union(set2)

# Intersection (common elements)
intersection_set = set1.intersection(set2)

# Difference (elements in set1 but not in set2)
difference_set = set1.difference(set2)
#symetric difference
symmetric_diff = set1 ^ set2
print("symetric difference:",symmetric_diff)  # Output: {1, 2, 3, 6, 7, 8}

# Display results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (Set1 - Set2):", difference_set)

symetric difference: {1, 2, 3, 6, 7, 8}
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set1 - Set2): {1, 2, 3}

In [29]:
#Creates a set from a list and removes all duplicate values in one operation.

myy_list =["banana", "mango", "orange", "apple","banana", "orange"]
myy_list = set(myy_list)
print(myy_list)

{'apple', 'orange', 'mango', 'banana'}

In [30]:
#Write a Python function that accepts a list of numbers and:
#Returns a list with "High" for numbers above 100, "Medium" for numbers between 50-100, and "Low" for numbers below 50.
#Add an extra feature to count how many "High", "Medium", and "Low" values there are in the list.
def categorize_numbers(numbers):
    categories = []  # To store "High", "Medium", "Low"
    counts = {"High": 0, "Medium": 0, "Low": 0}  # To count each category

    for num in numbers:
        if num > 100:
            categories.append("High")
            counts["High"] += 1
        elif 50 <= num <= 100:
            categories.append("Medium")
            counts["Medium"] += 1
        else:  # num < 50
            categories.append("Low")
            counts["Low"] += 1

    return categories, counts

# Example usage
numbers_list = [20, 55, 120, 75, 40, 200, 90, 10]
categories, counts = categorize_numbers(numbers_list)

print("Categories:", categories)
print("Counts:", counts)

Categories: ['Low', 'Medium', 'High', 'Medium', 'Low', 'High', 'Medium', 'Low']
Counts: {'High': 2, 'Medium': 3, 'Low': 3}